body {
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  min-height: var(--app-height);
  display: flex;
  flex-direction: column;
}

.date-nav-bar,
.gantt-half-switch,
.time-label {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

/* セーフエリアの調整 */
html {
  height: 100%;
}

/* コンテンツが画面全体をカバーするように調整 */
#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}
